{% extends 'base.html.twig' %}

{% block title %}Bienvenue!
{% endblock %}

{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('message') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<h1 class="mt-5 mb-5 text-center">Articles</h1>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, eius. Illo doloremque reiciendis placeat obcaecati debitis eum tempora quibusdam similique dolores dolorum assumenda tenetur, consequatur repellat fuga excepturi nesciunt modi?</p>

		<h2 class="mt-5 mb-5 text-center">Derniers articles</h2>


		<div class="slider owl-carousel">
			{% for article in articles %}
				<div class="card mb-4">
	<div class="card-body">
		<div class="card-title">
			<h3>
				Titre :
				{{ article.title }}
			</h3>
			<div class="title">Auteur : {{ article.author }}</div>
			{% if article.premium == 1 %}
				{% if app.user and (app.user.subscription == 1) %}
					<a href="{{ path('article.show', {id: article.id}) }}" class="d-inline-block">
						<button class="btn btn-danger">Lire plus</button>
					</a>
				{% else %}
				{% for payment in payments  %}
					{% if app.user  and (app.user.id == payment.user.id) and (article.id == payment.article.id) %}
						<p style="font-size: 10px">Vous avez acheté cet article</p>
							<a href="{{ path('article.show', {id: article.id}) }}" class="d-inline-block">
					<button class="btn btn-danger">Lire plus</button>
				</a>	
					{% endif %}
				{% endfor %}
					<p>Article réservé aux clients premium, ou vous pouvez l'acheter pour 1euro.</p>

					<a href="{{ path('payment', {id: article.id}) }}" class="d-inline-block">
						<button class="btn btn-danger">Payer ou s'abonner</button>
					</a>
				{% endif %}
			{% else %}
				<a href="{{ path('article.show', {id: article.id}) }}" class="d-inline-block">
					<button class="btn btn-danger">Lire plus</button>
				</a>
			{% endif %}
		</div>
	</div>
</div>
			{% endfor %}
		</div>
	</div>
</div></div><div class="text-center">
<a href="{{ path('article.index') }}">
	<button class="btn btn-danger">Voir toutes les offres</button>
</a></div>{% endblock %}
