<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('article.show', {id: article.id}) }}">
				Titre :
				{{ article.title }}
			</a>
			{% if article.premium == 1 %}
				{% if app.user and app.user.subscription == 1 %}
					<a href="{{ path('article.show', {id: article.id}) }}" class="d-inline-block">
						<button class="btn btn-danger">Lire plus</button>
					</a>
				{% else %}
					<p>Article réservé aux clients premium, ou vous pouvez l'acheter pour 1euro.</p>

					<a href="{{ path('payment', {id: article.id}) }}" class="d-inline-block">
						<button class="btn btn-danger">Payer ou s'abonner</button>
					</a>
				{% endif %}
			{% else %}
				<a href="{{ path('article.show', {id: article.id}) }}" class="d-inline-block">
					<button class="btn btn-danger">Lire plus</button>
				</a>
			{% endif %}
		</h5>
	</div>
</div>
