{% extends 'base.html.twig' %}

{% block title %}Tous les articles
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h1 class="mt-5 mb-5 text-center">Tous les articles</h1>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div class="jumbotron">


		<div class="container">
			<div class="row">
				<div class="col-md-9">

					<div class="d-flex flex-wrap">
						{% for article in articles %}
							<div class="col-md-4">
								{% include "article/_article.html.twig" %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{# display navigation #}
			<div class="pagination">
				{{ knp_pagination_render(articles) }}
			</div>
		</div>
	</div>
{% endblock %}
